h1, h2, h3, h4, .btn, .nav-tabs, #progress {
    font-family: "Permanent Marker", cursive;
}

#header {
    background-color: #ed4141;
    border-bottom: 4px solid #aa3838;
    text-shadow: 3px 3px #aa3838;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

#header h1 {
    margin: 0;
    padding: 4px 0;
}

.container {
    max-width: 800px;
}

#current-kana {
    font-size: 96px;
    text-align: center;
}

#previous-kana {
    height: 120px;
    font-size: 16px;
    text-align: center;
}

#previous-kana .kana {
    font-size: 48px;
}

#results-tally {
    height: 120px;
    color: transparent;
    font-size: 12px;
    text-align: center;
}

#results-tally > div {
    float: left;
}

#results-tally .kana {
    font-size: 24px;
}

#quiz {
    max-width: 400px;
    margin: auto;
}

.wrong {
    color: #aa3838;
}

.right {
    color: #5fc60b;
}

.kana-container {
    margin-top: 16px;
}

.kana-col {
    width: 40px;
    margin: 0 4px 16px;
    float: left;
    height: 288px;
    position: relative;
    cursor: pointer;
    border-top: 4px solid #fff;
    padding-top: 8px;
}

#hiragana .kana-col:hover {
    border-color: #eed5d8;
}

#katakana .kana-col:hover {
    border-color: #d0dfee;
}

.kana-col.active {
}

.kana-tile:last-child {
    bottom: 0;
    position: absolute;
}

.kana-tile:nth-child(2):nth-last-child(2) {
    bottom: 40%;
    position: absolute;
}

/*.kana-col:hover .kana-tile {*/
    /*background: #fffcdd;*/
    /*color: #60604f;*/
/*}*/

#hiragana .kana-col.active .kana-tile {
    background: #eed5d8;
    color: #a29092;
}

#katakana .kana-col.active .kana-tile {
    background: #d0dfee;
    color: #7b848e;
}

.kana-tile {
    width: 40px;
    height: 48px;
    position: relative;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 8px;
    background: #eee;
    color: #999;
}

.kana-tile .kana {
    color: #333;
    font-size: 20px;
}

.kana-count {
}

#results {
    font-size: 24px;
}

#answers {
    font-size: 36px;
}

.select-buttons {
    margin-top: 8px;
    margin-right: 8px;
    text-align: right;
}

.btn-success {
    background-color: #5fc60b;
    border-color: #48910b;
}

.btn-success:hover {
    background-color: #8ae23c;
    border-color: #5fc60b;
}

.btn-danger {
    background-color: #ed4141;
    border-color: #aa3838;
}

.btn-danger:hover {
    background-color: #f57576;
    border-color: #ed4141;
}

#progress {
    list-style: none;
    padding-left: 0;
}
