#current-kana {
    font-size: 96px;
    color: #a38bff;
    text-align: center;
}

#previous-kana {
    height: 120px;
    color: transparent;
    font-size: 16px;
    text-align: center;
}

#previous-kana .kana {
    font-size: 48px;
}

.wrong {
    color: #900;
}

.right {
    color: #0c0;
}

.kana-container {
}

.kana-col {
    width: 48px;
    margin: 0 0 16px;
    float: left;
    height: 280px;
    position: relative;
}

.kana-tile:last-child {
    bottom: 0;
    position: absolute;
}

.kana-tile:nth-child(2):nth-last-child(2) {
    bottom: 40%;
    position: absolute;
}

#hiragana .kana-tile {
    background: #eed5d8;
    color: #a29092;
}

#katakana .kana-tile {
    background: #d0dfee;
    color: #7b848e;
}

.kana-tile {
    width: 40px;
    height: 48px;
    position: relative;
    text-align: center;
    border-radius: 4px;
    margin: 0 8px 8px 0;
}

.kana-tile .kana {
    color: #333;
    font-size: 20px;
}

.kana-count {
    font-size: 80%;
    float: right;
}
